:root {
    --textColor: rgb(51, 48, 48);
    --logoColor: #E53935;
    --yellow: #FFCC00;
    --beige: #F0E68C;
    --bodyColor: #F4F4F4;
}




.HPMimg {
    width: 100%;
}

.contentC {
    width: 90vw;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.HPdiv2 {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    padding-left: 55px;
}

.HPheading1 {
    color: var(--textColor);
    letter-spacing: 0.7px;
    padding-bottom: 20px;
    font-size: 2.5em;
}

.h11sp {
    color: var(--logoColor);
}

.HPOrderNowBtn {
    font-weight: 700;
    font-size: larger;
    border: none;
    background-color: var(--logoColor);
    color: var(--bodyColor);
    height: 50px;
    width: 230px;
    position: relative;
    border-radius: 5px;
}

.HPpara1 {
    letter-spacing: 0.6px;
    font-size: larger;
    padding-bottom: 30px;
}

.HPdiv3 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.HPdiv4 {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.HPheading2 {
    margin-bottom: 1%;
}

/* .HPBS {

} */

.HPBs, .menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    margin: 10px;
}

.HPBs p, .menuCard p {
    text-align: justify;
    width: 85%;
    padding: 5px;
    min-height: 105px;
}

.BSimg {
    height: 250px;
    max-width: 250px;
}

.BSheading {
    color: var(--logoColor);
    padding-bottom: 5px;
}

.BSprice {
    padding: 5px;
}

.addtobtn { 
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--textColor);
    color: var(--bodyColor);
    font-size: large;
    margin: 10px;
    margin-bottom: 20px;
}


.addtobtn:hover {
    background-color: var(--logoColor);
    color: var(--textColor);
    border: 1px solid var(--textColor);
     
}



.HPdiv5 {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.NLheading {
    padding-bottom: 30px;
}




.NLemail {
    border: none;
    width: 300px;
    height: 50px;
    color: var(--bodyColor);
    outline: none;
    border-bottom: 2px solid var(--logoColor);
    font-size: 1.3rem;
    color: var(--textColor);
    padding: 7px 0;
    background: transparent;
}



.NLbtn {
    height: 50px;
    width: 100px;
    background-color: var(--logoColor);
    color: var(--bodyColor);
    font-size: large;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}