.menuCardsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.MPdiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.MPheading {
    font-weight: 900;
    font-size: 2.5rem;
}

.menu {
    color: var(--logoColor)
}

.menuHeads {
    padding: 20px;
    font-size: 2rem;
}

.MPdiv6 {
    margin-bottom: 50px;
}