* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: var(--textColor);
}

:root {
    --textColor: rgb(32, 31, 31);
    --logoColor: #E53935;
    --yellow: #FFCC00;
    --beige: #F0E68C;
    --bodyColor: #F4F4F4;
}

body {
    background-color: var(--bodyColor);
    height: 100%;;
}

.header {
    height: 85px; 
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--bodyColor);
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--logoColor);
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.nav-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    font-size: xx-large;
    position: relative;
    top: 5px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 70%;

}

.navLinks {
    color: var(--textColor);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    font-size: 1em;
    font-weight: 400;
}

.navLinks:hover {
    border-bottom: 5px solid var(--yellow);
}



#content {
    padding-top: 110px;
}

.footer {
    height:70vh;
    background-color: var(--beige);
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

.fSections1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footerDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDivs > * {
    padding: 10px;
}

.fSections2 {
    padding: 0 50px;
    border-bottom: 1px solid black; 
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

.fSocials > * {
    padding: 20px;
    font-size: x-large;
}

.fSections3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;

}

.fPPnTC > * {
    padding: 20px;
}

.appImages {
    max-width: 150px;
    max-height: 90px;
}

.fCR {
    padding-right: 20px;
}